OPENFLIGHTS_NAME=Illallangi FlightLog
OPENFLIGHTS_NEWS=Welcome to the Illallangi FlightLog
OPENFLIGHTS_TIMEZONE=Australia/Melbourne

OPENFLIGHTS_SERVERADMIN=email@example.com
OPENFLIGHTS_SERVERNAME=openflights.example.com

OPENFLIGHTS_GITHUB_REPO=openflights
OPENFLIGHTS_GITHUB_USER=YOUR_USERNAME
OPENFLIGHTS_GITHUB_TOKEN=YOUR_TOKEN

MYSQL_DATABASE=openflights
MYSQL_USER=openflights
MYSQL_PASSWORD=password
MYSQL_RANDOM_ROOT_PASSWORD=yes
